streamlit>=1.31.0
pandas
pandas_ta
yfinance>=0.2.40
scikit-learn
gspread
google-auth
streamlit-autorefresh
protobuf==3.20.3
textblob
plotly
google-auth
feedparser
ccxt
prophet
requests
